.add-user-btn-container {
    display: flex;
}

.add-user-container {
    margin-top: 15px;
}

.date-of-birth {
    margin-top: 5px;
    width: 150px;
    padding: 5px;
    font-size: 14px;
}

.add-user-container input {
    margin-bottom: 30px;
}

input[type=tel],
input[type=date],
input[type=email] {
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    box-sizing: border-box;
    border: none;
    background-color: #EFF5F5;
    outline: none;
    border-bottom: 1px solid #00acee;
}
