.container {
    display: flex;
}

main {
    width: 100%;
    padding: 20px;
   
}

.sidebar {
    background: #053742;
    color: #fff;
    height: 100vh;
    width: 250px;
    transition: all 0.5s;
    position: fixed;
}

.top_section {
    display: flex;
    align-items: center;
    padding: 20px 15px;
    justify-content: space-evenly;
}

.logo{
    display: flex;
    text-align: center;
    font-size: 15px;
}

.logo-img {
    border-radius: 50%;
    width: 50px;
}

.bars {
    
    font-size: 25px;
    margin-left: 50px;
}

.link {
    display: flex;
    color: #fff;
    margin: 20px 0;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
}

.link:hover {
    background: lightskyblue;
    color: #000;
    transition: all 0.5s;
}

.active {
    background: lightskyblue;
    color: #000;
}

.icon,
.link_text {
    font-size: 20px;
}
